body{
  background-color: #006bcf;
}
.navegation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  list-style: none;
  font-size: 30px;
  background-color: #2175bc;
}

ul{
  display: flex;
  flex-direction: column;
  
}

.link{
  margin: 3px 10px 2px 10px;
  padding: 10px;
  text-decoration: none;
  font-family: Arial;
  background-color: #2175bc;
  color: #fff;
  border-radius: 10px 1px 10px 1px;
}